<section class="questions" id="questions">
    <h1 class="text-center">Ответы на ваши вопросы</h1>
    <div class="questions__wrapper">
        <div class="questions__spoiler">
            <ul>
				{% for item in data %}
                <li class="questions__item">
                    <div class="questions__item-header-wrap" onclick="grummer.questions.toggleText(this)">
                        <div class="questions__item-icon"></div>
                        <h4>
                            {{item.title}}
                        </h4>
                    </div>
                    <div class="questions__item-text">
						{% for punkt in item.punkts %}
                        <p>
                            {{punkt}}
                        </p>
						{% endfor %}
                    </div>
                </li>
				{% endfor %}
            </ul>
        </div>
    </div>
</section>
