<section class="ourworks" id="{{id}}">
	{% if title %}
    <h1 class="text-center container">{{title}}</h1>
	{% endif %}
    <div class="ourworks__slider">
        <!-- <script id="ourworks__slider-temp" type="tuts/template">
            <div class="ourworks__slider-item">
                <img src="img/ourworks/{{img}}">
            </div>
        </script> -->

		{% for slide in data  %}
		<div class="ourworks__slider-item">
			<img src="{{slide.img.url}}">
		</div>
		{% endfor %}
    </div>
</section>