{% load static %}

<header class="header" id="header">
    {% for banner in header.banners %}
        <div
            class="header__bg _header__bg {% if forloop.counter == 1 %}active{% endif %}"
            style="background-image: url({{banner.img.url}});"
        ></div>
    {% endfor %}

	{% include 'components/navbar/index.html' %}

    <div class="header__content container">
        <h1>Стрижка<br>домашних<br>животных</h1>
        <p>Ваша благодарность питомцу<br>за его любовь без остатка</p>
        <a
            class="btn header__call-btn yellow"
            href="#callback"
            onclick="grummer.goToBlock(this, event)">
            Заказать звонок
        </a>
    </div>
</header>
