{% load static %}

<!DOCTYPE html>
<!-- <html lang="ru" theme="dark"> -->
<html lang="ru" theme="light">
<head>
    </script>
    {% block head %}
    <title>Title</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="вологда зоосалон стрижка кошек собак тримминг груминг">
    <meta name="description" content="Стрижка собак и кошек в Вологде.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

    <link type="image/x-icon" rel="shortcut icon" href="{% static '/img/favicon.webp' %}">
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="{% static '/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static '/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicons/favicon-16x16.png' %}"> -->
    {% block scripts %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'components/header/index.html' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'components/footer/index.html' %}
    {% endblock %}

    <script src="{% static 'js/script.min.js' %}"></script>
</body>
</html>