{% extends 'layouts/Base.html' %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block header %}
{% include 'components/header/index.html' %}
{% endblock %}

{% block content %}

{% include 'blocks/about/index.html' %}

{% if oursalon|length %}
{% include 'blocks/oursalon/index.html' with data=oursalon %}
{% endif %}

{% if promos|length %}
{% include 'blocks/promo/index.html' with data=promos %}
{% endif %}

{% include 'blocks/services/index.html' %}

{% if ourworks|length %}
{% include 'blocks/ourworks/index.html' with data=ourworks %}
{% endif %}

{% if questions|length %}
{% include 'blocks/questions/index.html' with data=questions %}
{% endif %}

{% include 'blocks/feedbacks/index.html' %}
{% include 'blocks/callback/index.html' %}
{% include 'blocks/popup_feedback/index.html' %}
{% include 'blocks/popup-ok/index.html' %}
{% include 'blocks/popup-main/index.html' %}
{% include 'blocks/popup-services/index.html' %}

{% endblock %}