{% load static %}

<footer class="footer" id="footer">
    <div class="container footer__wrapper">
        <div class="footer__logo">
            <a href="#header" onclick="grummer.goToBlock(this, event)">
				<img src="{% static 'img/logo.svg' %}">
			</a>
        </div>
        <div class="footer__links">
            <ul class="footer__links-on-bloks">
                <li><a href="#about" onclick="grummer.goToBlock(this, event)">О нас</a></li>
                <li><a href="#services" onclick="grummer.goToBlock(this, event)">Услуги</a></li>
                <li><a href="#questions" onclick="grummer.goToBlock(this, event)">Ответы на вопросы</a></li>
            </ul>
            <ul class="footer__links-on-social">
                <li>
                    <a href="https://vk.com/" target="_blank">
						{% include '#img/social/vk.svg' %}
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
						{% include '#img/social/insta.svg' %}
                    </a>
                </li>
				<li>
                    <a href="https://t.me/nice_aat" target="_blank">
						{% include '#img/social/telegram.svg' %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__contacts">
            <h5>Контакты</h5>
            <ul>
                <li class="footer__contacts-map">
                    <a href="https://yandex.ru/maps/-/CCU5BLx5~B" target="_blank">
                        {% include '#img/social/maps.svg' %}ул. Некрасова 38
                    </a>
                </li>
                <li>
                    <a href="tel:+7 963 314 96 69">
                        {% include '#img/social/tel.svg' %}+7 963 314 96 69
                    </a>
                </li>
                <li>
                    <a href="mailto:groomleta@mail.ru">
                        {% include '#img/social/mail.svg' %}groomleta@mail.ru
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
