<section class="services" id="services">
	<div class="services__wrap container">
		<h1>Услуги</h1>
		<div class="services__nav">
			<!-- <div class="services__filters">
                <div class="services__filter">
                    <div class="services__categories g-select _select">
                        <input type="hidden" class="_select-input"
                            onchange="grummer.services.filterServicesByCategory(this.value)" />
                        <div class="g-select__header" onclick="grummer.gSelect.toggle(this)">
                            <span class="_selected-text">Выберите категорию</span>
                        </div>
                        <div class="g-select__body _options">
                            <ul class="g-select__items">
								<li
									class="g-select__item _option"
									data-value=""
									onclick="grummer.gSelect.selectItem(this)">
									Любая
								</li>
								{% for category in services.categories %}
								<li
									class="g-select__item _option"
									data-value="{{category.id}}"
									onclick="grummer.gSelect.selectItem(this)">
									{{category.title}}
								</li>
								{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
			<div class="services__filters">
				<div class="services__filter">
					<div class="services__breeds g-select _select">
						<input type="hidden" class="_select-input"
							onchange="grummer.services.filterServicesByBreed(this.value)" />
						<div class="g-select__header" onclick="grummer.gSelect.toggle(this)">
							<span class="_selected-text">Выберите породу</span>
							<div class="g-select__find-wrapper" onclick="grummer.gSelect.stopPropagation(event)">
								<div class="g-select__find-close-btn hide"
									onclick="grummer.services.filterOptionsByBreed('')"></div>
								<input type="text" class="g-select__find _g-select__find" placeholder="Поиск"
									oninput="grummer.services.filterOptionsByBreed(this.value)" />
							</div>
						</div>
						<div class="g-select__body _options">
							<ul class="g-select__items _services__breeds-items">
								<li class="g-select__item _option" data-value=""
									onclick="grummer.gSelect.selectItem(this)">
									Любая порода
								</li>
								{% for breed in services.breeds %}
								<li class="g-select__item _option" data-value="{{breed}}"
									onclick="grummer.gSelect.selectItem(this)">
									{{breed.title}}
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="services__nav-btns">
				<div class="services__nav-btn btn-costom"
					onclick="grummer.services.filterServicesByAnimal(this, 'cat')">
					{% include '#img/cat.svg' %}

					<span>Для кошек</span>

					<button onclick="grummer.services.clearBreedFilter(this, event)">
						{% include '#img/close-circle.svg' %}
					</button>
				</div>
				<div class="services__nav-btn btn-costom"
					onclick="grummer.services.filterServicesByAnimal(this, 'dog')">
					{% include '#img/dog.svg' %}

					<span>Для собак</span>

					<button onclick="grummer.services.clearBreedFilter(this, event)">
						{% include '#img/close-circle.svg' %}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container services__slider _services__slider">
		{% for service in services.services_list %}
		<div class="services__slide _services__slide {{service.animal}} category-{{service.category.id}}"
			breed="{{service.breed}}">
			<div class="services__slide-wrapper">
				<div>
					<div class="services__slide-img">
						<img src="{{service.img.url}}" alt="">
					</div>
				</div>
				<div class="services__slide-data">
					<div class="services__slide-title">{{service.title}}</div>
					<div class="services__slide-desc">
						{{service.text}}
					</div>
					<div class="services__slide-price">{{service.price}} <span>₽</span></div>
					<div class="services__slide-time">{{service.time}}</div>
					<!-- <button class="services__slide-btn btn-outlined" onclick="grummer.services.openPopup('{{service.animal}}')"> -->
					<button class="services__slide-btn btn-outlined" onclick="grummer.services.openPopup({
							id: '{{service.id}}',
							price: '{{service.price}}',
							title: '{{service.title}}',
							img: '{{service.img.url}}',
							breed: '{{service.breed}}'
						})">
						Записаться
					</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>